@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{ /*estamos declarando variables de css*/
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;
    --color-hover:#272727;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
}

* { /*es un reset css para los navegadores*/
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

body {
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 10%;
}

.hader-menu {
    display: flex;
    gap: 80px;
}

.header-menu-link {
    font-family: var(--fuente-montserrat);
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    /* margin: 10%; */
    padding: 6% 10%; /*se acambio el margin por padding*/ 
    justify-content: space-between;
    gap: 82px;
}

.presentacion-contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion-contenido-titulo {
    font-size: 3.6rem;
    font-family: var(--fuente-krona);
}

.titulo-destacado {
    color: var(--color-terciario);
    font-size: 3.6rem;
}

.presentacion-contenido-texto {
    font-size: 2.4rem;
    font-family: var(--fuente-montserrat);
}

.presentacion-enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.presentacion-enlaces-subtitulo {
    font-family: var(--fuente-krona);
    font-size: 2.4rem;
    font-weight: 400;
}

.presentacion-enlaces-link {
    width: 50%;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion-enlaces-link:hover{
    background-color: var(--color-hover);
}

.presentacion-imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 2.4rem;
    font-weight: 400;
}

@media(max-width: 1200px){
    .header {
        padding: 10%;
    }

    .hader-menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
    }

    .presentacion-contenido {
        width: auto;
    }
}